

@media screen and (min-width: 768px) {
    .dash {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #piechrt {
        width: 50%;
        height: 50%;
    }
}

