{% extends "main/base.html" %}

{% block title %} Sign up {% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<!-- Image title -->

<div style="text-align: center; margin-top: 50px;">
    <h2>REGISTER</h2>
</div>

<!-- End title  -->

<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <form onsubmit="showMsg(0);return false;" method="post" class="reg-page">
    <div class="reg-header">
        <h2>Register a new account</h2>
        <p>Already Signed Up? Click <a href="/login" class="color-green">Sign In</a> to login your account.</p>
    </div>


<form method="post">
    {% csrf_token %}{{ form|crispy}}
    {% comment %} <p>Have an Account? Login <a href="/login">Here</a></p> {% endcomment %}

    <hr>

    <div class="row">
        <div class="col-lg-6 checkbox">
            <label>
            <input type="checkbox" required="">
            I read <a href="#" class="color-green">Terms and Conditions</a>
            </label>
        </div>
        <div class="col-lg-6 text-right">
            <button class="btn-u" type="submit">Register</button>
        </div>
    </div>
</form>

</div>
</div>
</div>

{% endblock %}