{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
      <title>MediEase Hospital | {% block title %} {% endblock %}</title>
          <!-- Web Fonts -->
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">  

      <!-- CSS Global Compulsory -->
      <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

      <!-- CSS Header and Footer -->
      <link rel="stylesheet" href="{% static 'assets/css/header.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/footer.css' %}">

      <!-- CSS Implementing Plugins -->
      <link rel="stylesheet" href="{% static 'assets/plugins/line-icons-pro/styles.css' %}">
      <link rel="stylesheet" href="{% static 'assets/plugins/line-icons/line-icons.css' %}">
      <link rel="stylesheet" href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}">

      {% block Styles %} {% endblock %}

      <!-- CSS Customization -->
      <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

  </head>
  <body>
    <div class="wrapper">
      <!--=== Header v1 ===-->
      <div class="header-v1">
        <!-- Topbar -->
        <div class="topbar-v1"> 
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                 <ul class="list-inline top-v1-contacts">
                  <li>
                  <i class="fa fa-envelope"></i> Email: MediEase@gmail.com
                  </li>
                  <li>
                  <i class="fa fa-phone"></i> Contact no : 1234567890
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar mega-menu" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="res-container">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <div class="navbar-brand">
                <a href="/home">
                <img src="{% static 'assets/img/logo/WhatsApp Image 2024-03-12 at 9.19.12 AM.jpeg' %}" alt="Logo"/>
                </a>
              </div>
            </div><!--/end responsive container-->
    
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
              <div class="res-container">
                <ul class="nav navbar-nav">
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <!-- Home  -->
                  <li class="mega-menu-fullwidth">
                    <a href="/home" >
                    HOME
                    </a>
                  </li>
                  <!-- End Home-->
                  <!-- About Us -->
                  <li class="mega-menu-fullwidth">
                  <a href="/about" >
                  ABOUT US
                  </a>	
                  </li>
                  <!-- End About us -->
          
                  <!-- Doctors -->
                  <li class="mega-menu-fullwidth">
                  <a href="/doctors" >
                  DOCTORS
                  </a>
          
                  </li>
                  <!-- End Doctors -->
          
          
                  <!-- Gallery -->
                  <li class="mega-menu-fullwidth">
                  <a href="/gallery" >
                  GALLERY
                  </a>
          
                  </li>
                  <!-- End Gallery -->
          
          
                  <!-- Blog -->
                  <li class="mega-menu-fullwidth">
                  <a href="/summary" >
                  PATIENT SUMMARY
                  </a>	
                  </li>
                  <!-- End Blog -->
          
                  <!-- Contact Us -->
                  <li class="mega-menu-fullwidth">
                  <a href="/contact" >
                  CONTACT US
                  </a>	
                  </li>
                  <!-- End Contact us -->
                  
                    {% if user.is_authenticated %}
                    <li class="mega-menu-fullwidth">
                      <a> <b style="color:green;">{{user.username}}</b> | </a>
                    </li>
                    <li class="mega-menu-fullwidth">
                      <a  href="/logout">LOGOUT</a>
                    </li>
                    {% else %}
                    <!-- Registration -->
                  <li class="mega-menu-fullwidth">
                    <a href="/sign-up" >
                    REGISTRATION
                    </a>	
                    </li>
                    <!-- End registration -->
            
                    <!-- login -->
                    <li class="mega-menu-fullwidth">
                    <a href="/login" >
                    LOGIN
                    </a>	
                    </li>
                    <!-- End login -->
                      {% endif %}
                    <!-- Appointment -->
                  <li class="mega-menu-fullwidth">
                    <a href="/appointment">
                      BOOK APPOINTMENT
                    </a>
            
                    </li>
                    <!-- End Appointment -->
            
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      {% block content %} {% endblock %}

      <!--=== Footer ===-->
		<div class="footer-v1">
			<div class="footer">
			<div class="container">
			<div class="row">
			<!-- About -->
			<div class="col-md-3" style="margin-bottom: 40px;">
			<a href="/home"><img id="logo-footer" class="footer-logo" src="{% static 'assets/img/logo/WhatsApp Image 2024-03-12 at 9.19.12 AM.jpeg' %}" alt=""/></a>
			<p>At ABC Hospital, we are convinced that 'quality' and 'lowest cost' are not mutually exclusive when it comes to healthcare delivery.</p>
			<p>Our mission is to deliver high quality, affordable healthcare services to the broader population in India.</p>
			</div><!--/col-md-3-->
			<!-- End About -->
	
			<!-- Latest -->
			<div class="col-md-3" style="margin-bottom: 40px;">
			<div class="posts">
			<div class="headline"><h2>Latest Posts</h2></div>
			<ul class="list-unstyled latest-list">
			{% comment %} <li>
			<a href="blog.html">Incredible content</a>
			<small>March 6, 2024</small>
			</li> {% endcomment %}
			<li>
			<a href="/gallery">Latest Images</a>
			<small>March 6, 2024</small>
			</li>
			<li>
			<a href="/terms">Terms and Conditions</a>
			<small>March 6, 2024</small>
			</li>
			</ul>
			</div>
			</div><!--/col-md-3-->
			<!-- End Latest -->
	
			<!-- Link List -->
			<div class="col-md-3" style="margin-bottom: 40px;">
			<div class="headline"><h2>Useful Links</h2></div>
			<ul class="list-unstyled link-list">
			<li><a href="/about">About us</a><i class="fa fa-angle-right"></i></li>
			<li><a href="/contact">Contact us</a><i class="fa fa-angle-right"></i></li>
			<li><a href="/appointment">Book Appointment</a><i class="fa fa-angle-right"></i></li>
			</ul>
			</div><!--/col-md-3-->
			<!-- End Link List -->
	
			<!-- Address -->
			<div class="col-md-3 map-img" style="margin-bottom: 40px;">
			<div class="headline"><h2>Contact Us</h2></div>
			<address class="md-margin-bottom-40">
			ABC Hospital <br />
			Ahmedabad, IN <br />
			Phone: 1234567890 <br />
			Email: MediEase@gmail.com 
			</address>
			</div><!--/col-md-3-->
			<!-- End Address -->
			</div>
			</div>
			</div><!--/footer-->
	
			<div class="copyright">
			<div class="container">
			<div class="row">
			<div class="col-md-6">
			<p>
			2024 &copy; All Rights Reserved.
			<a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms of Service</a>
			</p>
			</div>
	
			<!-- Social Links -->
			<div class="col-md-6">
			<ul class="footer-socials list-inline">
			<li>
			<a href="http://www.facebook.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
			<i class="fa fa-facebook"></i>
			</a>
			</li>
			<li>
			<a href="http://www.skype.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
			<i class="fa fa-skype"></i>
			</a>
			</li>
			<li>
			<a href="http://www.googleplus.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
			<i class="fa fa-google-plus"></i>
			</a>
			</li>
			<li>
			<a href="http://www.linkedin.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
			<i class="fa fa-linkedin"></i>
			</a>
			</li>
			<li>
			<a href="http://www.Pinterest.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
			<i class="fa fa-pinterest"></i>
			</a>
			</li>
			<li>
			<a href="http://www.twitter.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
			<i class="fa fa-twitter"></i>
			</a>
			</li>
			</ul>
			</div>
			<!-- End Social Links -->
			</div>
			</div>
			</div>
			</div>
	</div>  <!-- End Wrapper -->
      <!-- JS Global Compulsory -->
      <script type="text/javascript" src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/plugins/jquery/jquery-migrate.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
      <!-- JS Implementing Plugins -->
      <script>
        window.watsonAssistantChatOptions = {
          integrationID: "15ef0d1b-c4cc-4bcb-b1a8-9cbf7594dac7", // The ID of this integration.
          region: "au-syd", // The region your integration is hosted in.
          serviceInstanceID: "9d5130ca-226a-4492-b67a-5da12b79d265", // The ID of your service instance.
          onLoad: async (instance) => { await instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>

      
{% block Scripts %} {% endblock %}

  </body>
</html>
